body {
    background: #EEE;
    margin: 0;
}
h1 {
    margin: 0;
    padding: 10px 20px;
    position: fixed;
    color: #fff;
}
aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
}

#menu-opener {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

#menu-area {
    width: 0;
    height: 100vh;
    background: rgb(60, 125, 125);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .5s;
}

#menu-area ul,
#menu-area li {
    padding: 0;
    list-style: none;
}

#menu-area li {
    display: block;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#menu-area li:hover {
    background: #DDD;
    color: chocolate;
}

.menu-opened {
    width: 200px !important;
}
.container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:radial-gradient(rgb(60, 125, 125),rgb(37, 75, 75)) ;
    height: 100vh;

}
.conteudo h2{
    font-size: 50px;
    margin: 20px;
    color: #fff;
    font-family: 'Caveat', cursive;
}
p {
    font-size: 80px;
    margin: 20px;
    color: #fff;
    font-family: 'Caveat', cursive;
}
