* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
}
.header h1 {
    color: yellow;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
main {
    background-color: darkslategrey;
    width: 100%;
}
section {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    width: 1024px;
    height: 100%;
}
.lineUm,
.lineDois,
.lineTres,
.line {
    width: 50%;
    background: darkslategrey;
    border: 0;
}
.line-01 {
    width: 50%;
    background: rgb(246, 246, 246);
    border: 0;
}
.line-02 {
    width: 50%;
    background: rgb(246, 246, 246);
    border: 0;
}
.line-03 {
    width: 50%;
    background: rgb(246, 246, 246);
    border: 0;
}
.container {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
}
.container h3 {
    margin-top: 10px;
}
.area-animais{
    display: flex;
    justify-content: space-evenly;

}
.animais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    background-color: rgb(139, 139, 139);
    width: 45%;
    height: 300px;
    padding: 5px;
}
.area-img {
    display: flex;
    height: 260px;
    margin-bottom: 2px;
}
.area-img .imagem {
    width: 100%;
    
}
.text-animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(139, 139, 139);
    width: 45%;
    height: 300px;
    margin-top: 5px;
    padding: 10px;
}
.buttons button{
    margin-top: 1px;
}
.btn {
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    font-weight: bold;
    border: 2px solid rgb(175, 175, 171);
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(252, 134, 49);
    border: 2px solid rgb(255, 111, 0);
    color: #fff;
}
.verde {
    background-color: green;
    color: #ece9e9;
}
.vermelho {
    background-color: rgb(181, 43, 43);
    color: #ece9e9;
}
.azul {
    background-color: rgb(22, 124, 179);
    color: #ece9e9;
}